body {
  background: #161616;
}

div {
  margin-top: 10%;
  text-align: center;
}

.main-button {
  font-family: "Roboto";
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  width: 150px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  background: #2abd4a;
  color: papayawhip;
}

.display-box {
  font-family: "Roboto";
  color: whitesmoke;
  font-size: 20px;
  margin: 20px;
}
